---
import Inicio from "../components/inicio.astro";
import Modelos from "../components/modelos.astro";
import Nosotros from "../components/nosotros.astro";
import Layout from "../layouts/Layout.astro";
import Contacto from "../components/contacto.astro";
import Footer from "../components/footer.astro";
---

<Layout>
  <div class="relative w-full h-screen">
    <spline-viewer
      url="https://prod.spline.design/gkWyDDcDU9ZRPfw5/scene.splinecode"
      style="position:absolute;top:0;left:0;width:100vw;height:100vh;z-index:0; position: fixed;"
    ></spline-viewer>

    <Inicio />
    <Modelos />
    <Nosotros />
    <Contacto />
    <Footer />
  </div>
  <script
    type="module"
    src="https://unpkg.com/@splinetool/viewer@1.10.85/build/spline-viewer.js"
  ></script>
  <script src="https://unpkg.com/flowbite@latest/dist/flowbite.min.js"></script>
</Layout>
