---
import Herosection1 from "../components/Herosection-1.astro";
import Herosection2 from "../components/Herosection-2.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="relative w-full h-screen">
    <spline-viewer
      url="https://prod.spline.design/gkWyDDcDU9ZRPfw5/scene.splinecode"
      style="position:absolute;top:0;left:0;width:100vw;height:100vh;z-index:0; position: fixed;"
    ></spline-viewer>

    <Herosection1 />
    <Herosection2 />
  </div>
  <script
    type="module"
    src="https://unpkg.com/@splinetool/viewer@1.10.85/build/spline-viewer.js"
  ></script>
  <script src="https://unpkg.com/flowbite@latest/dist/flowbite.min.js"></script>
</Layout>
