---
import Layout from "../layouts/Layout.astro";
import BotonContacto from "../components/Btn-contacto.astro";
import ContadorAnimado from "../components/ContadorAnimado.jsx";
import Celular from "../assets/phone.webp";
---

<Layout>
  <div class="relative w-full h-screen">
    <spline-viewer
      url="https://prod.spline.design/gkWyDDcDU9ZRPfw5/scene.splinecode"
      style="position:absolute;top:0;left:0;width:100vw;height:100vh;z-index:0;"
    ></spline-viewer>

    <div
      class="relative mx-auto z-10 grid grid-cols-6 grid-rows-8 gap-4 h-full size-460"
      style="pointer-events:none;"
    >
      <div class="box col-span-2 row-span-3 transparent mr-20">
        <div class="relative text-center p-6">
          <h2 class="text-4xl font-bold mb-2">Visión</h2>
          <p class="text-xl">
            En Roboto exploramos la unión entre inteligencia artificial, diseño
            y movimiento. Buscamos crear robots que comprendan, aprendan y se
            adapten a los humanos.
          </p>

          <div class="tooltip-container mt-25" style="pointer-events:auto;">
            <span class="tooltip-1">Explora nuestra visión</span>
            <span class="tooltip-2">Descubre cómo unimos IA y diseño</span>
            <span class="tooltip-3">Conoce nuestros robots adaptativos</span>
            <span>UIVERSE</span>
          </div>
        </div>
      </div>
      <div
        class="box col-span-2 row-span-2 col-start-1 row-start-4 transparent mr-20 overflow-hidden"
      >
        <img
          src="/src/assets/robot-pequeño.gif"
          alt=""
          class="object-cover w-full h-100"
          loading="lazy"
          decoding="async"
        />
      </div>
      <div
        class="box col-span-2 row-span-3 col-start-1 row-start-6 transparent mr-20"
      >
        <div class="p-6 flex flex-col">
          <h2 class="text-xl">Sumando nuevos clientes cada día</h2>
          <h2 class="text-xl">que confían en nosotros.</h2>

          <div class="flex -space-x-3 pt-6 rtl:space-x-reverse">
            <img
              class="w-13 h-13 border-2 border-white rounded-full dark:border-gray-800"
              src="https://i.pravatar.cc/150?img=3"
              alt="avatar 1"
              loading="lazy"
            />
            <img
              class="w-13 h-13 border-2 border-white rounded-full dark:border-gray-800"
              src="https://i.pravatar.cc/150?img=5"
              alt="avatar 2"
              loading="lazy"
            />
            <img
              class="w-13 h-13 border-2 border-white rounded-full dark:border-gray-800"
              src="https://i.pravatar.cc/150?img=10"
              alt="avatar 3"
              loading="lazy"
            />
            <img
              class="w-13 h-13 border-2 border-white rounded-full dark:border-gray-800"
              src="https://i.pravatar.cc/150?img=11"
              alt="avatar 4"
              loading="lazy"
            />
            <a
              class="flex items-center justify-center w-13 h-13 text-xs font-medium text-white bg-gray-700 border-2 border-white rounded-full hover:bg-gray-600 dark:border-gray-800"
              href="#">+99</a
            >
          </div>
          <!-- Contador animado -->
          <ContadorAnimado client:visible />

          <!-- Boton Contacto -->
          <BotonContacto />
        </div>
      </div>

      <div
        class="box col-span-2 row-span-3 col-start-5 row-start-1 ml-17 overflow-hidden"
      >
        <div class="p-6">
          <h2 class="font-bold text-2xl mt-5">Descarga nuestra app</h2>

          <div
            class="flex relative items-center gap-4 top-40"
            style="pointer-events: auto;"
          >
            <div class="social-button">
              <button
                class="relative w-15 h-15 rounded-full group cursor-pointer"
              >
                <div
                  class="floater w-full h-full absolute top-0 left-0 bg-gray-600 rounded-full duration-300 group-hover:-top-8 group-hover:shadow-2xl"
                >
                </div>
                <div
                  class="icon relative z-10 w-full h-full flex items-center justify-center border-2 border-black rounded-full"
                >
                  <img
                    src="/icon-apple.svg"
                    alt="Icono de Apple"
                    class="w-12 h-12"
                  />
                </div>
              </button>
            </div>
            <div class="social-button">
              <button
                class="relative w-15 h-15 rounded-full group cursor-pointer"
              >
                <div
                  class="floater w-full h-full absolute top-0 left-0 bg-green-900 rounded-full duration-300 group-hover:-top-8 group-hover:shadow-2xl"
                >
                </div>
                <div
                  class="icon relative z-10 w-full h-full flex items-center justify-center border-2 border-green-900 rounded-full"
                >
                  <img
                    src="/icon-android.svg"
                    alt="Icono de Google"
                    class="w-10 h-10"
                  />
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
      <img
        src={Celular.src}
        alt="Celular mostrando robot"
        class="relative object-cover w-full h-100 bottom-50 left-35"
        loading="lazy"
      />
    </div>

    <!-- LOGO ROBOTO -->

    <div
      class="box col-span-2 col-start-5 row-start-4 ml-17 items-center justify-center flex gap-1"
    >
      <!-- svg circulo -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="35"
        height="35"
        viewBox="0 0 48 48"
        ><circle
          cx="24"
          cy="24"
          r="21.5"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1"></circle><circle
          cx="24"
          cy="24"
          r="15.659"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1"></circle><circle
          cx="24"
          cy="24"
          r="9.855"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1"></circle></svg
      >

      <!-- svg R -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="50"
        height="50"
        viewBox="0 0 24 24"
        ><path
          fill="currentColor"
          d="M23.848 8.166c.75-3.536-1.287-7.264-5.747-7.264h-6.955l-1.152 5.4h5.246c1.076 0 1.748.884 1.517 1.941c-.23 1.076-1.267 1.903-2.344 1.903H9.11l7.111 13.143h7.437l-4.806-8.82c1.288-.692 4.21-2.632 4.997-6.303zM1.23 17.505L0 23.31h6.342l2.767-13.145c-3.863.135-6.9 2.71-7.88 7.34zM5.4 6.648a2.985 2.985 0 0 0 2.997-2.98A2.986 2.986 0 0 0 5.4.69a2.986 2.986 0 0 0-2.998 2.98c0 1.633 1.346 2.978 2.998 2.978"
        ></path></svg
      >

      <h2 class="text-6xl font-bold">OBOTO</h2>

      <!-- svg circulo -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="35"
        height="35"
        viewBox="0 0 48 48"
        ><circle
          cx="24"
          cy="24"
          r="21.5"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1"></circle><circle
          cx="24"
          cy="24"
          r="15.659"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1"></circle><circle
          cx="24"
          cy="24"
          r="9.855"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1"></circle></svg
      >
    </div>

    <div
      class="box col-span-2 row-span-4 col-start-5 row-start-5 flex items-center justify-center p-0 ml-17"
      style="pointer-events:auto;"
    >
      <div
        id="robots-carousel"
        class="relative w-full h-full"
        data-carousel="static"
      >
        <div class="relative h-full overflow-hidden rounded-lg">
          <!-- Robot 1 -->
          <div class="duration-700 ease-in-out" data-carousel-item="active">
            <div
              class="card h-full w-full group gap-[0.5em] rounded-[1.5em] relative flex justify-end flex-col p-[1.5em] z-[1] overflow-hidden"
              style="background: url('/src/assets/robot-1.webp') center/cover no-repeat; pointer-events:auto;"
            >
              <div
                class="container text-white z-[2] relative font-nunito flex flex-col gap-[0.5em]"
              >
                <div class="h-fit w-full text-center">
                  <h2
                    class="card_heading text-[1.9em] tracking-[.2em]"
                    style="font-weight: 900; color: #181818; -webkit-text-fill-color: #181818; -webkit-text-stroke-width: 1px; -webkit-text-stroke-color: #fff; text-shadow: 0 0 7px #fff;"
                  >
                    NAZBOT
                  </h2>
                  <p
                    class="text-[1.6em]"
                    style="font-weight: 900; color: #181818; -webkit-text-fill-color: #181818; -webkit-text-stroke-width: 1px; -webkit-text-stroke-color: #fff; text-shadow: 0 0 7px #fff;"
                  >
                    Inteligencia Artificial
                  </p>
                </div>
                <div
                  class="flex justify-center items-center h-fit w-full gap-[1.5em]"
                >
                  <div class="w-fit h-fit flex justify-left gap-[0.5em]"></div>
                  <div
                    class="w-fit h-fit text-white font-nunito text-[1.2em] font-light"
                  >
                    <p>5/5 stars</p>
                  </div>
                </div>
                <div
                  class="flex justify-center items-center mx-auto h-fit w-fit gap-[0.9em]"
                >
                  <div
                    class="border-2 border-white rounded-[0.5em] text-white font-nunito text-[1em] font-normal px-[0.5em] py-[0.05em] hover:bg-white hover:text-[#222222] duration-300 cursor-pointer"
                  >
                    <p>IA</p>
                  </div>
                  <div
                    class="border-2 border-white rounded-[0.5em] text-white font-nunito text-[1em] font-normal px-[0.5em] py-[0.05em] hover:bg-white hover:text-[#222222] duration-300 cursor-pointer"
                  >
                    <p>Diseño</p>
                  </div>
                  <div
                    class="border-2 border-white rounded-[0.5em] text-white font-nunito text-[1em] font-normal px-[0.5em] py-[0.05em] hover:bg-white hover:text-[#222222] duration-300 cursor-pointer"
                  >
                    <p>Movimiento</p>
                  </div>
                </div>
              </div>
              <p
                class="font-nunito block font-light relative h-[0em] group-hover:h-[7em] leading-[1.2em] duration-500 overflow-hidden"
                style="color: #222; -webkit-text-stroke-width: 0.5px; -webkit-text-stroke-color: #fff; text-shadow: 0 0 6px #fff;"
              >
                Robot avanzado con IA adaptativa y diseño innovador. Capaz de
                aprender de su entorno, interactuar con humanos y resolver
                problemas complejos. Ideal para tareas de asistencia,
                investigación y desarrollo tecnológico.
              </p>
            </div>
          </div>
          <!-- Robot 2 -->
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <div
              class="card h-full w-full group gap-[0.5em] rounded-[1.5em] relative flex justify-end flex-col p-[1.5em] z-[1] overflow-hidden"
              style="background: url('/src/assets/robot-2.webp') center/cover no-repeat; pointer-events:auto;"
            >
              <div
                class="container text-white z-[2] relative font-nunito flex flex-col gap-[0.5em]"
              >
                <div class="h-fit w-full text-center">
                  <h2
                    class="card_heading text-[1.9em] tracking-[.2em]"
                    style="font-weight: 900; color: #181818; -webkit-text-fill-color: #181818; -webkit-text-stroke-width: 1px; -webkit-text-stroke-color: #fff; text-shadow: 0 0 7px #fff;"
                  >
                    STEELBOT
                  </h2>
                  <p
                    class="text-[1.6em]"
                    style="font-weight: 900; color: #181818; -webkit-text-fill-color: #181818; -webkit-text-stroke-width: 1px; -webkit-text-stroke-color: #fff; text-shadow: 0 0 7px #fff;"
                  >
                    Diseño Futurista
                  </p>
                </div>
                <div
                  class="flex justify-center items-center h-fit w-full gap-[1.5em]"
                >
                  <div class="w-fit h-fit flex justify-left gap-[0.5em]"></div>
                  <div
                    class="w-fit h-fit text-white font-nunito text-[1.2em] font-light"
                  >
                    <p>4.8/5 stars</p>
                  </div>
                </div>
                <div
                  class="flex justify-center items-center mx-auto h-fit w-fit gap-[0.9em]"
                >
                  <div
                    class="border-2 border-white rounded-[0.5em] text-white font-nunito text-[1em] font-normal px-[0.5em] py-[0.05em] hover:bg-white hover:text-[#222222] duration-300 cursor-pointer"
                  >
                    <p>Futuro</p>
                  </div>
                  <div
                    class="border-2 border-white rounded-[0.5em] text-white font-nunito text-[1em] font-normal px-[0.5em] py-[0.05em] hover:bg-white hover:text-[#222222] duration-300 cursor-pointer"
                  >
                    <p>Arte</p>
                  </div>
                  <div
                    class="border-2 border-white rounded-[0.5em] text-white font-nunito text-[1em] font-normal px-[0.5em] py-[0.05em] hover:bg-white hover:text-[#222222] duration-300 cursor-pointer"
                  >
                    <p>Innovación</p>
                  </div>
                </div>
              </div>
              <p
                class="font-nunito block font-light relative h-[0em] group-hover:h-[7em] leading-[1.2em] duration-500 overflow-hidden"
                style="color: #222; -webkit-text-stroke-width: 0.5px; -webkit-text-stroke-color: #fff; text-shadow: 0 0 6px #fff;"
              >
                Robot con diseño metálico y tecnología de vanguardia. Su
                estructura robusta y elegante lo hace perfecto para ambientes
                industriales y creativos. Destaca por su precisión, eficiencia y
                capacidad de integración en sistemas automatizados.
              </p>
            </div>
          </div>
          <!-- Robot 3 -->
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <div
              class="card h-full w-full group gap-[0.5em] rounded-[1.5em] relative flex justify-end flex-col p-[1.5em] z-[1] overflow-hidden"
              style="background: url('/src/assets/robot-3.webp') center/cover no-repeat; pointer-events:auto;"
            >
              <div
                class="container text-white z-[2] relative font-nunito flex flex-col gap-[0.5em]"
              >
                <div class="h-fit w-full text-center">
                  <h2
                    class="card_heading text-[1.9em] tracking-[.2em]"
                    style="font-weight: 900; color: #181818; -webkit-text-fill-color: #181818; -webkit-text-stroke-width: 1px; -webkit-text-stroke-color: #fff; text-shadow: 0 0 7px #fff;"
                  >
                    BALLBOT
                  </h2>
                  <p
                    class="text-[1.6em]"
                    style="font-weight: 900; color: #181818; -webkit-text-fill-color: #181818; -webkit-text-stroke-width: 1px; -webkit-text-stroke-color: #fff; text-shadow: 0 0 7px #fff;"
                  >
                    Movimiento Dinámico
                  </p>
                </div>
                <div
                  class="flex justify-center items-center h-fit w-full gap-[1.5em]"
                >
                  <div class="w-fit h-fit flex justify-left gap-[0.5em]"></div>
                  <div
                    class="w-fit h-fit text-white font-nunito text-[1.2em] font-light"
                  >
                    <p>4.7/5 stars</p>
                  </div>
                </div>
                <div
                  class="flex justify-center items-center mx-auto h-fit w-fit gap-[0.9em]"
                >
                  <div
                    class="border-2 border-white rounded-[0.5em] text-white font-nunito text-[1em] font-normal px-[0.5em] py-[0.05em] hover:bg-white hover:text-[#222222] duration-300 cursor-pointer"
                  >
                    <p>Velocidad</p>
                  </div>
                  <div
                    class="border-2 border-white rounded-[0.5em] text-white font-nunito text-[1em] font-normal px-[0.5em] py-[0.05em] hover:bg-white hover:text-[#222222] duration-300 cursor-pointer"
                  >
                    <p>Deporte</p>
                  </div>
                  <div
                    class="border-2 border-white rounded-[0.5em] text-white font-nunito text-[1em] font-normal px-[0.5em] py-[0.05em] hover:bg-white hover:text-[#222222] duration-300 cursor-pointer"
                  >
                    <p>Dinámico</p>
                  </div>
                </div>
              </div>
              <p
                class="font-nunito block font-light relative h-[0em] group-hover:h-[7em] leading-[1.2em] duration-500 overflow-hidden"
                style="color: #222; -webkit-text-stroke-width: 0.5px; -webkit-text-stroke-color: #fff; text-shadow: 0 0 6px #fff;"
              >
                Robot especializado en movimiento y deportes. Su sistema
                dinámico le permite desplazarse rápidamente y adaptarse a
                diferentes superficies. Ideal para actividades físicas,
                entrenamiento deportivo y demostraciones de agilidad robótica.
              </p>
            </div>
          </div>
        </div>
        <!-- Slider indicators -->
        <div
          class="absolute z-30 flex -translate-x-1/2 space-x-3 rtl:space-x-reverse bottom-5 left-1/2"
        >
          <button
            type="button"
            class="w-3 h-3 rounded-full"
            aria-current="true"
            aria-label="Slide 1"
            data-carousel-slide-to="0"></button>
          <button
            type="button"
            class="w-3 h-3 rounded-full"
            aria-current="false"
            aria-label="Slide 2"
            data-carousel-slide-to="1"></button>
          <button
            type="button"
            class="w-3 h-3 rounded-full"
            aria-current="false"
            aria-label="Slide 3"
            data-carousel-slide-to="2"></button>
        </div>
        <!-- Slider controls -->
        <button
          type="button"
          class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
          data-carousel-prev
        >
          <span
            class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-black/30 group-hover:bg-white/50 group-focus:ring-4 group-focus:ring-white group-focus:outline-none"
          >
            <svg
              class="w-4 h-4 text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="white"
              viewBox="0 0 6 10"
            >
              <path
                stroke="white"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 1 1 5l4 4"></path>
            </svg>
            <span class="sr-only">Previous</span>
          </span>
        </button>
        <button
          type="button"
          class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
          data-carousel-next
        >
          <span
            class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-black/30 group-hover:bg-white/50 group-focus:ring-4 group-focus:ring-white group-focus:outline-none"
          >
            <svg
              class="w-4 h-4 text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="white"
              viewBox="0 0 6 10"
            >
              <path
                stroke="white"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 9 4-4-4-4"></path>
            </svg>
            <span class="sr-only">Next</span>
          </span>
        </button>
      </div>
    </div>
  </div>

  <script
    type="module"
    src="https://unpkg.com/@splinetool/viewer@1.10.85/build/spline-viewer.js"
  ></script>
  <script src="https://unpkg.com/flowbite@latest/dist/flowbite.min.js"></script>
</Layout>
