<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo-R.svg" />
		<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700&family=Rajdhani:wght@400;500&display=swap" rel="stylesheet">
		<link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
		<title>ROBOTO</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	@import "tailwindcss";
	html,
	body {
		font-family: 'Rajdhani', sans-serif;
		margin: 0;
		height: 100%;
		width: 100%;
	}

	h2, h3 {
        font-family: 'Orbitron', sans-serif;
        letter-spacing: 1px;
    }

	.box {
		border-radius: 30px;
		background: rgba(227, 227, 227, 0.3); /* Transparente */
		box-shadow:  20px 20px 60px #c1c1c1,
        -20px -20px 60px #ffffff;
	}

	.tooltip-container {
		position: relative;
		background: #f80254;
		cursor: pointer;
		transition: all 0.2s;
		font-size: 1.2rem;
		padding: 14px 26px;
		border-radius: 5px;
		text-align: center;
		box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.62),
			inset 0px -2px 3px rgba(0, 0, 0, 0.48), inset 1px 1px 4px #ffffff,
			rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
			rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: 800;
		color: #fff;
	}

	.tooltip-1,
	.tooltip-2,
	.tooltip-3 {
		position: absolute;
		transform: translateX(-50%);
		font-weight: 800;
		opacity: 0;
		pointer-events: none;
		transition: all 0.3s;
		border-radius: 8px 8px 8px 8px;
		background: #ffdb0f;
		box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.62),
			inset 0px -2px 3px rgba(0, 0, 0, 0.48), inset 1px 1px 4px #ffffff,
			rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
			rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
		min-width: 110px;
		width: 110px;
		padding: 6px 0.1rem 6px;
		color: #ac0039;
		font-size: 0.8rem;
	}
	.tooltip-1 {
		top: 0%;
		left: 50%;
		width: 200px;
	}
	.tooltip-2 {
		top: 0%;
		left: 84%;
	}

	.tooltip-3 {
		top: 0;
		right: 60%;
	}
	.tooltip-container:hover .tooltip-1 {
		top: -150%;
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
	}
	.tooltip-container:hover .tooltip-2 {
		top: -150%;
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
	}
	.tooltip-container:hover .tooltip-3 {
		top: -150%;
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
	}


</style>
